* {
    --font-fra: "Fraunces", serif;
    --font-mont: "Montserrat", sans-serif;
    --cream: hsl(30, 38%, 92%);
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-blue:hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --gap-10: 10px;
    --gap-20: 20px;
    --gap-30: 30px;
    --font-14: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--cream) !important;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.custom-card{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    margin: 50px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 1px
}

.card-left{
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
    background-position: 0px -100px;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.card-right{
    padding: var(--gap-30);
}

.product-category{
    font-family: var(--font-mont);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--dark-grayish-blue);
}

.product-name{
    font-family: var(--font-fra);
    font-size: 35px;
    font-weight: 700;
    line-height: 38px;
    color: var(--very-dark-blue);
    margin: 10px 0 5px 0;
}

.product-description{
    font-family: var(--font-mont);
    font-weight: 500;
    font-size: var(--font-14);
    color: var(--dark-grayish-blue);
    margin: 10px 0;
    letter-spacing: 1.1px;
}

.product-sale-price{
    font-family: var(--font-fra);
    color: var(--dark-cyan);
    font-size: 35px;
    font-weight: 700;
}

.product-regular-price{
    font-family: var(--font-mont);
    color: var(--dark-grayish-blue);
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
}

.custom-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-cyan);
    padding: var(--gap-20);
    width: 100%;
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-family: var(--font-mont);
    margin: 10px 0;
    line-height: 0;
}

.custom-button:hover{
    background-color: hsl(157, 37%, 22%);;
}