* {
    --font-fra: "Fraunces", serif;
    --font-mont: "Montserrat", sans-serif;
    --cream: hsl(30, 38%, 92%);
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-blue:hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --gap-10: 10px;
    --gap-20: 20px;
    --gap-30: 30px;
    --font-14: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.attribution a{
   color: var(--dark-cyan);
}

.attribution{
    font-size: 10px;
}

body{
    background-color: var(--cream) !important;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.custom-card{
    /* display: grid;
    width: auto;
    background-color: #ffa300;
    grid-template-rows: 1fr 1fr;
    border-radius: 5px;*/
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    background-color: white;
    margin: 30px;
    
}

.card-left{
    background-image: url(/images/image-product-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
    height: 250px;
}

.card-right{
    width: 100%;
    padding: 10px 20px;
}

.product-category{
    font-family: var(--font-mont);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--dark-grayish-blue);
}

.product-name{
    font-family: var(--font-fra);
    font-size: 35px;
    font-weight: 700;
    line-height: 38px;
    color: var(--very-dark-blue);
    margin: 10px 0 5px 0;
}

.product-description{
    font-family: var(--font-mont);
    font-weight: 500;
    font-size: var(--font-14);
    color: var(--dark-grayish-blue);
    margin: 10px 0;
    letter-spacing: 1.1px;
}

.product-sale-price{
    font-family: var(--font-fra);
    color: var(--dark-cyan);
    font-size: 35px;
    font-weight: 700;
}

.product-regular-price{
    font-family: var(--font-mont);
    color: var(--dark-grayish-blue);
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
}

.custom-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-cyan);
    padding: var(--gap-20);
    width: 100%;
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-family: var(--font-mont);
    margin: 10px 0;
    line-height: 0;
}

.custom-button:hover{
    background-color: hsl(157, 37%, 22%);;
}


 
@media (min-width: 575px){
    .custom-card{
    display: grid;
    width: 700px;
    grid-template-columns: 1fr 1fr;
    height: auto;
    }

    .card-right{
        padding: 20px;
    }

    .card-left{
        background-image: url(/images/image-product-desktop.jpg);
        background-size: cover;
        height: 440px;
        border-radius: 5px 0 0 5px;
    }

}

@media(min-width:1440px){

}